html, body {
  box-sizing: border-box;
  font-family: 'Avenir Next', Avenir, Arial, Helvetica, sans-serif;
  background-color: #323232;
  color: #ffffff;
}

body {
  padding-left: 1rem;
  padding-right: 1rem;
}

h1, h2 {
  text-align: center;
}

h1 {
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: uppercase;
  font-kerning: 0.8;

  margin-bottom: 0.5rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: lighter;
  margin-bottom: 1rem;
}

h3 {
  font-size: 0.9rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

h4 {
  font-size: 0.8rem;
  margin-bottom: 0.5rem;

  font-weight: bold;
}

h5 {
  font-weight: bold;
  margin-bottom: 0.25rem;
}

strong {
  line-height: 1.2rem;
}

.inline {
  display: inline-block;
}

.section-divider {
  padding-bottom: 3rem;
}

.song-checkbox {
  appearance: none;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;

  background-color: hsla(0, 0%, 0%, 0.10);
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
  
  position: relative;
}

.song-checkbox:checked {
  background-color: hsla(0,0%,0%,0.80);
	color: #99a1a7;
}

/* .song-checkbox:checked:after {
  content: '\2022';
  font-size: 2rem;
  text-align: center;
  position: absolute;

  top: -0.6rem;
  left: 0.4rem;
  color: #171717;
} */

.primary {
  cursor: pointer;

  background-color: green;
  box-shadow: 0px 4px 4px hsla(0, 0%, 0%, 0.3);
  padding: 0.75rem 1rem;

  border-radius: 2px;
  border: none;

  font-family: inherit;
  font-weight: 700;
  font-size: 0.8rem;
  color: white;
}

.primary:hover, .primary:active {
  transform: translateY(2px);
  box-shadow: 0px 0px 2px hsla(0, 0%, 0%, 0.3);
}

.secondary {

  cursor: pointer;

  background-color: hsla(0, 0%, 100%, 0);
  padding: 0.75rem 1rem;

  border-radius: 2px;
  border: 2px solid white;
  border: none;

  font-family: inherit;
  font-size: 0.8rem;
  color: white;

}

.secondary:hover, .secondary:active  {
  background-color: hsla(0, 0%, 100%, 0.3);
}

.secondary span {
  margin-left: 0.25rem;
}

.form {
  display: flex;
  flex-direction: column;

  justify-content: space-around;
  align-items: center;

  max-width: 720px;
}
.form-section {
  display: flex;
  flex-direction: column;

  margin-bottom: 2rem;

  justify-content: space-between;

  width: 100%;

}
.form-section>.helper-text {
  font-size: 0.75rem;
}
.form-section>label, .form-section>input {
  display: block;
}

.text-input input, .number-input input {
  border: none;

  outline: none;

  height: 2rem;
  background-color: #eeeeee;

  margin-top: 0.5rem;

  padding-left: 0.5rem;
  padding-right: 0.5rem;

  font-size: 0.875rem;
}
.text-input input:focus, .number-input input:focus {
  outline: 4px hsl(240, 100%, 67%) solid;
}
.text-input input:valid {
  outline-color: none;
}
.text-input input:invalid {
  outline-color: red;
}

.checkbox-input>.checkbox-selection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}